# Oracle
ORACLE_SYS_PASSWORD=Admin123
ORACLE_USER=orderuser
ORACLE_PASSWORD=orderpass123

# DB user riêng cho từng service (nếu muốn tách sau này)
ORDER_DB_USER=orderuser
ORDER_DB_PASSWORD=orderpass123
INVENTORY_DB_USER=orderuser
INVENTORY_DB_PASSWORD=orderpass123
PAYMENT_DB_USER=orderuser
PAYMENT_DB_PASSWORD=orderpass123
SHIPPING_DB_USER=orderuser
SHIPPING_DB_PASSWORD=orderpass123

# JWT
JWT_SECRET=mySecretKey12345678901234567890123456789012
JWT_EXPIRATION=86400000